@charset "UTF-8";

body{
	 font-size: x-large;
}

#header{
	height:300px;
}
	#headerLogo{
		height:250px;
		text-align:center;
		vertical-align: middle;
	}
		#logoImg{
			float:left;
			height:150px;
		}
	#headerMenu{
	background-color: white;
	font-size: large;
   	overflow: auto;
    position: fixed;
	}
		.headerLink{
			text-align:center;
			height:70px;
			border:1px solid black;
			border-radius: 7px;
			padding:10px;
		}
		.headerLink>a{
			text-decoration:none;
			vertical-align:middle;
			color:blue;
			font-weight:bold;
		}


input[type="text"],input[type="password"]{
	padding:7px;
	width:100%;
	border-style:none;
}
#contents{
	text-align:center;
}
button{
	width:100%;
	height: 100px;
	margin-top:10px;
}


.text-wrap{
	border:2px solid black;
	border-radius: 7px;
	margin-top:10px;
	padding:10px;
}

.listTr{
	
}

#continueText{
	font-weight:bold;
	color:black;
 	background-color: gold;
 	border-radius:5px;
	}
#compliteText{
	font-weight:bold;
	color:white;
	background-color:green;
	border-radius:5px;
}

#paging{
	margin-top: 40px;
}
	#paging>a{
		font-weight:bold;
		text-decoration:none;
		border: 1px solid black;
		border-radius:5px;
		padding:20px;
		color:blue;
	}
