<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="FirstKeywordMapper">
	<resultMap type="FirstKeyword" id="FirstKeywordResultMap">
		<id 	column="KEYWORD_NO"	 property="keywordNo"/>
		<result column="KEYWORD" 	 property="FirstKeyword"/>
	</resultMap>
	
	<select id="selectFirstKeyword" resultMap="FirstKeywordResultMap">
		SELECT * FROM FIRST_KEYWORD
	</select>
</mapper>