<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="VoteReplyMapper">
	<resultMap type="VoteReply" id="vReplyResultMap">
		<id 	column="REPLY_NO"  			property="replyNo"></id>
		<result column="VOTE_NO"  			property="voteNo"/>
		<result column="REF_REPLY_NO"  		property="refReplyNo"/>
		<result column="REREPLY_YN" 		property="reReplyYn"/>
		<result column="REPLY_WRITER"  		property="replyWriter"/>
		<result column="REPLY_CONTENTS"  	property="replyContents"/>
		<result column="REPLY_TIME"  		property="replyTime"/>
		<result column="R_STATUS" 			property="rStatus"/>
		<result column="MEMBER_ID"   		property="memberId"/>
	</resultMap>

	<select id="selectAllReply" resultMap="vReplyResultMap">
		SELECT ROW_NUMBER() OVER(PARTITION BY REF_REPLY_NO ORDER BY REPLY_TIME) AS NO, REPLY_TBL.*
		FROM REPLY_TBL
		WHERE VOTE_NO = #{voteNo}
	</select>
	
	<select id="selectReReply" resultMap="vReplyResultMap">
		SELECT * FROM REPLY_TBL
		WHERE REREPLY_YN = 'Y' AND REF_REPLY_NO=#{refReplyNo} AND VOTE_NO=#{voteNo}
	</select>
	
	<insert id="insertOriginalReply">
		INSERT INTO REPLY_TBL 
		VALUES(SEQ_REPLY_NO.NEXTVAL,#{voteNo},SEQ_REPLY_NO.CURRVAL,'N',#{replyWriter},#{replyContents},DEFAULT,DEFAULT,#{memberId})
	</insert>
	
	<insert id="insertReReply">
		INSERT INTO REPLY_TBL
		VALUES(SEQ_REPLY_NO.NEXTVAL,#{voteNo},#{refReplyNo},'Y',#{replyWriter},#{replyContents},DEFAULT,DEFAULT,#{memberId})
	</insert>
	
	<update id="updateReply">
		UPDATE REPLY_TBL SET REPLY_CONTENTS=#{replyContents}
		WHERE REPLY_NO = #{replyNo} AND R_STATUS='N'
	</update>
	
	<delete id="deleteReply">
		UPDATE REPLY_TBL SET REPLY_CONTENTS = '작성자에 의해 삭제된 댓글입니다.',R_STATUS='Y' 
		WHERE REPLY_NO = #{replyNo} AND R_STATUS='N'
	</delete>

</mapper>