<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.tistory.mabb.avb.member.domain.Member" 		alias="Member"/>
		<typeAlias type="com.tistory.mabb.avb.member.domain.FirstKeyword" 	alias="FirstKeyword"/>
		<typeAlias type="com.tistory.mabb.avb.member.domain.SecondKeyword" 	alias="SecondKeyword"/>
		<typeAlias type="com.tistory.mabb.avb.member.domain.ThirdKeyword" 	alias="ThirdKeyword"/>
		<typeAlias type="com.tistory.mabb.avb.board.domain.VoteBoard" 		alias="VoteBoard"/>
		<typeAlias type="com.tistory.mabb.avb.board.domain.VoteReply"		alias="VoteReply"/>	
	</typeAliases>
	
	 <mappers>
	   <mapper resource="mappers/member-mapper.xml"/>
	   <mapper resource="mappers/vote-mapper.xml"/>
	   <mapper resource="mappers/first-mapper.xml"/>
	   <mapper resource="mappers/second-mapper.xml"/>
	   <mapper resource="mappers/third-mapper.xml"/>
	   <mapper resource="mappers/reply-mapper.xml"/>
	 </mappers>
</configuration>